<%= javascript_pack_tag 'flexible' %>

<% provide :page_header do %>
  <h1><span class="fa fa-edit" aria-hidden="true"></span> Edit Flexible Metadata Profile</h1>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default tabs">
      <%= react_component("flexible_metadata", { schema: @default_schema, flexible_metadata_profile: @flexible_metadata_profile }) %>
    </div>
  </div>
</div>

