.profile-version{
  background:#FFF;
	border-radius:8px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2); 
  padding:20px 5px;
  margin-bottom: 5px;
  min-width: 10em;
}

.profile-version.updating {
  background-color: lightgreen;
}

.profile_version h4 {
  font-size: 14px;
}
.profile_version span {
  font-size: 10px;
}
